# Copied from https://github.com/numpy/numpy/blob/master/appveyor.yml
skip_tags: true
clone_depth: 1

os: Visual Studio 2015

build_script:
# If there's a newer build queued for the same PR, cancel this one
  - git submodule update --init --recursive
  - SET PATH=C:\msys64\usr\bin;%PATH%
  - g++ --version
  - cd C:\projects\cmdstan
  - dir
  - make build

after_build:
  # Archive everything but the .git directory
  7z a cmdstan.zip %APPVEYOR_BUILD_FOLDER%\ -xr!.git

test_script:
  - python runCmdStanTests.py src/test/interface

artifacts:
  - path: cmdstan.zip
    name: Compiled cmdstan
